USE [css_DB]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 6/19/2020 1:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Department_ID] [int] NULL,
	[Department_name] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
